
.login-page {
    display: block;
    position: static;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 0;
    flex-shrink: 1;
    grid: none / none / none / row / auto / auto;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 720px;
    height: 160.2px;
    min-width: 0px;
    min-height: 0px;
    font-family: "Times New Roman";
    font-size: 16px;
    font-weight: 100;
    text-align: start;
    vertical-align: baseline;
    color: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    background-color: rgba(0, 0, 0, 0);
    border: 0px none rgb(0, 0, 0);
    border-width: 0px;
    border-color: rgb(0, 0, 0);
    border-radius: 0px;
    opacity: 1;
    transition: all;
    overflow: visible;
}

.login-logo {
    width: 120px;
    height: auto;
}

/* Reset login form text and fields to a reasonable size */
.login-page,
.login-page table,
.login-page td,
.login-page span {
    font-size: 1em;
}

.login-page input[type="text"],
.login-page input[type="submit"],
.login-page button {
    font-size: 1em;
    padding: 0.4em 0.6em;
}
